<% provide(:title, "Help") %>

<h1>Help</h1>

<p>Get help on the <a href="http://www.railstutorial.org/help">Rails Tutorial Help page</a>.</p>

<p>To get help on this sample app see the <a href="http://www.railstutorial.org/book">Ruby on Rails tutorial book</a>.</p>
